.form-control {
    border-color: #ff641e;
    border-radius: .5rem;
}
.form-control:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #ff641e;
    box-shadow: 1px 2px 10px #ccc;
}
.btn {
    border-radius: .5rem;
}
.btn:hover {
    box-shadow: 1px 2px 10px #ccc;
}
.btn-ems-primary {
    background-color: #ff641e;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}


.image-wrap {
    height: 400px;
    border-bottom: 5px solid #464a4c;
    margin-bottom: 5%;
    background-position: left;
    background-size: cover;
    /* background-color: #ff641e;
    background-image: url(../images/2105.jpg);
    background-blend-mode: exclusion; */
    background-color: rgb(255, 90, 10);
    background-image: url(../images/2105.jpg);
    background-blend-mode: soft-light;
}
.login-logo {
    width: 50%;
    margin: 30px 0px;
}
.login h2 {
    margin-bottom: 20px;
}